@font-face{
    font-family:Nasa;
    src: url(Fonts/nasalization-rg.ttf);
}
.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column{
    float: left;
    width: 11.11%;
    padding: 5px;
}
